# Node modules
node_modules/

# Lock file
package-lock.json

# Webpack output
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace